* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(black, grey);
    font-family: 'Raleway', sans-serif;    
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-weather {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    height: 80vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

.filter {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 59, 78, .5), rgba(0, 47, 71, 1));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
}

.location {
    width: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.location form {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 90%;
    opacity: 0.8;
}

.location input {
    font-size: 1.5rem;
    width: 75%;
    height: 50px;
    padding: 5px 20px;
    border: none;
    border-radius: 25px 0 0 0;
    border-bottom: 2px solid rgb(218, 84, 12);
}

.location input:focus {
    outline: none;
}

.location button {
    font-size: 1.5rem;
    height: 50px;
    padding: 5px 10px;
    background: rgb(218, 84, 12);
    color: white;    border-radius: 0 0 25px 0;
    font-family: inherit;
    transition: all 200ms ease-in-out;
    border: none;
}

.location button:hover {
    background: rgb(172, 65, 8);
    cursor: pointer;
}

.location .warning {
    font-size: 1.5rem;
    text-align: center;
    animation: warning-fade 250ms ease-in-out forwards;
}

@keyframes warning-fade {
    from {
        transform: translate(0, 0);
        opacity: 0;
    } to {
        transform: translate(0, -125%);
        opacity: 1;
    }
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.information h1 {
    font-size: 3.5rem;
    font-style: italic;
}

.information .weather-icon {
    filter: brightness(0) invert(1);
    width: 25%;
}

.information .temp {
    display: flex;
    align-items: center;
    font-size: 8rem;
    font-weight: bold;
}

.information .description {
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}

.information .high-low {
    font-size: 1.75rem;
    font-style: italic;
} 

@media screen and (max-width: 1024px){
    .main-weather {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .filter {
        border-radius: 0;
    }
    .location {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .location form {
        width: 75%;
        margin-bottom: 5%;
    }
    .location button {
        width: 25%;
        font-size: 1.25rem;
    }
    .information h1{
        font-size: 5rem;
    }
    .information .weather-icon {
        width: 15%;
    }
    .information .temp {
        font-size: 8rem;
        margin-bottom: 5%;
    }
    .information .description {
        font-size: 2rem;
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 750px){
    .main-weather {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .filter {
        border-radius: 0;
    }
    .location {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .location form {
        width: 90%;
        margin-bottom: 10%;
    }
    .location button {
        width: 25%;
        font-size: .75rem;
    }
    .information h1{
        font-size: 3rem;
    }
    .information .weather-icon {
        width: 30%;
    }
    .information .temp {
        font-size: 5rem;
        margin-bottom: 10%;
    }
    .information .description {
        font-size: 1.25rem;
        margin-bottom: 10%;
    }
}